.body {
    background-image: radial-gradient(circle at top right, rgb(44, 44, 44), black);
  }

:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --bodytext-color: #66FCF1;
    --maintext-color: #C5C6C7;
    --secondary-color: #1F2833;
    --button-color: #45A29E;
  }

.nav-list {
    list-style: none;
    text-align: right;
    padding-right: 50px;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav-list li a:hover {
  color:var(--maintext-color);
}

.header {
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--maintext-color);
}

.grid-container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    height: auto;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas:
      "project-title img1 img2 img3"
      "project-description img1 img2 img3"
      "playstore img1 img2 img3";
    grid-gap: 5rem;
}

#project-title {
    padding-left: 30px;
    grid-area: project-title;
}

#project-description {
    padding-left: 30px;
    grid-area: project-description;
}

#playstore {
    padding-left: 30px;
    grid-area: playstore;
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

.project-title {
    font-size: 50px;
}

.project-description {
    font-size: 20px;
}

.playstore-link a {
    color: var(--maintext-color);
    text-decoration: none;
}

.playstore-link a:hover {
    color: var(--secondary-color);
}

.project1 {
    color: var(--maintext-color);
}

.project2 {
    color: var(--maintext-color);
}

.project1-title {
    vertical-align: top;
    margin-right: 30%;
}

.project2-title {
    color: var(--maintext-color);
}

.project1-img-list {
    padding-top: 200px;
    text-align: center;
    list-style: none;
    padding-bottom: 200px;
}

.project1-img-list li {
    padding-right: 110px;
    display: inline-block;
}

.images {
    height: 500px;
}